.custom-select-container {
  position: relative;
}

.custom-btn {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 13px 16px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 6px;
  border: 1px solid #dfe1e6;
  background-color: #ffffff;
  color: #444;
  cursor: pointer;
}
.custom-btn:hover { background-color: #f7f7f7; }

.custom-btn .arrow-icon {
  font-size: 12px;
  margin-left: 5px;
  color: #888;
}

.custom-menu {
  position: absolute;
  top: 110%; 
  right: 0; 
  background-color: white;
  border-radius: 6px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  z-index: 100;
  width: 200px;
  padding: 8px;
}

.custom-menu button {
  display: block;
  width: 100%;
  text-align: left;
  padding: 10px 12px;
  background: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.custom-menu button:hover {
  background-color: #f5f5f5;
}