:host {
  display: block;
  flex: 1; 
  min-width: 300px;
}

.kanban-column {
  border-radius: 6px;
  padding: 10px;
  height: 100%;
  box-sizing: border-box;
  background-color: rgba(238, 238, 235, 0.897); 
  backdrop-filter: blur(10px); 
  -webkit-backdrop-filter: blur(10px); 
  border: 1px solid rgba(255, 255, 255, 0.849); 
  box-shadow: 0 4px 30px rgba(112, 111, 111, 0.2); 
}

h2 {
  font-family: Arial, sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #1d1d1b; 
  padding: 0 10px 10px 10px;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #dfe1e6;
}

.kanban-column-backlog h2 {
  border-bottom-color: #adadaf; 
}

.kanban-column-hacer h2 {
  border-bottom-color: #3240A5; 
}

.kanban-column-progreso h2 {
  border-bottom-color: #67ac91; 
}

.kanban-column-completada h2 {
  border-bottom-color: #008D36; 
}

.card-container {
  max-height: 70vh;
  overflow-y: auto;
  padding: 10px 5px;
}

.cdk-drag-preview {
  overflow: hidden !important; 
}

.empty-column-msg {
  text-align: center;
  color: #777;
  font-style: italic;
  padding: 20px;
}