:host {
  display: block;
  flex: 1; 
  min-width: 380px;
}

.kanban-column {
  background-color: #ffffff; 
  box-shadow: #e6e6e6 0px 2px 4px;
  border-radius: 6px;
  border-radius: 5px;
  padding: 10px;
  height: 100%;
}

h2 {
  font-family: Arial, sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #172b4d; 
  padding: 0 10px 10px 10px;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #dfe1e6;
}

.kanban-column-hacer h2 {
  border-bottom-color: #3240A5; 
}

.kanban-column-progreso h2 {
  border-bottom-color: #67ac91; 
}

.kanban-column-completada h2 {
  border-bottom-color: #008D36; 
}

.card-container {
  max-height: 70vh;
  overflow-y: auto;
  padding: 10px 5px;
}

.empty-column-msg {
  text-align: center;
  color: #777;
  font-style: italic;
  padding: 20px;
}