:host {
  display: block;
  font-family: Arial, sans-serif;
  min-height: 100vh; 
}

.container {
  max-width: 1500px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  color: #1d1d1b;
  font-size: 40px;
  text-shadow: #858885 1px 1px 2px;
}

.header-controls {
  display: flex; 
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 40px; 
  gap: 20px;
  border-bottom: 1px solid #ddd;
  box-sizing: border-box;
}

.controls-right {
  display: flex;
  align-items: center; 
  gap: 20px;
}

.search-bar {
  position: relative;
  min-width: 300px;
}

.search-bar .fa-magnifying-glass {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  color: #9e9e9e;
}

.search-bar input {
  width: 100%;
  padding: 12px 20px 12px 45px; 
  border-radius: 8px;
  border: 1px solid #ddd;
  font-size: 15px;
  background-color: #eeeded;
  box-shadow: none;
  box-sizing: border-box;
}

.search-bar input:focus {
  outline: none;
  border-color: #3240A5;
  background-color: #ffffff;
}

.button-group {
  display: flex;
  align-items: baseline;
  gap: 10px;
  flex-shrink: 0;
  position: relative;
}

.add-task-btn {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 14px 16px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s;
}

.add-task-btn {
  background-color: #3240A5;
  color: white;
}
.add-task-btn:hover { background-color: #303a87; }

.kanban-board {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 20px; 
  align-items: flex-start;
  justify-content: center;
}