:host {
  display: block;
  margin-bottom: 10px;
}

.task-card {
  background-color: rgba(247, 247, 247, 0.87); 
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border: 1px solid rgba(255, 251, 251, 0.699); 
  box-shadow: 0 2px 10px rgba(255, 254, 254, 0.1);

  position: relative;
  border-radius: 8px;
  padding: 15px;
  display: flex;;
  font-family: Arial, sans-serif;
  flex-direction: column;
  gap: 10px; 
  transition: all 0.2s ease-out;
}


.task-card:hover {
  box-shadow: 0 4px 8px #00000033;
  transform: translateY(-2px);
}

.task-card-backlog {
  border-left: 2px solid #adadaf;
}

.task-card-hacer {
  border-left: 2px solid #3240A5;
}

.task-card-progreso {
  border-left: 2px solid #67ac91;
}

.task-card-completada {
  border-left: 2px solid #008D36;
}

.task-actions {
  display: flex;
  flex-wrap: wrap;
  gap: 5px; 
}

.delete-btn {
  position: absolute;
  top: 5px;
  right: 8px;
  background: none;
  border: none;
  color: #aaa;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

.delete-btn:hover {
  color: #ff0000;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.task-title {
  font-weight: 600;
  color: #1d1d1b;
  font-size: 15px;
  flex-grow: 1; 
  margin-right: 10px; 
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
}

.task-category {
  background-color: rgb(0, 141, 54);
  color: #ddd9d9;
  font-size: 11px;
  padding: 4px 8px;
  border-radius: 4px;
  font-weight: 500;
}

.task-flag {
  font-size: 14px; 
}

.flag-alta {
  color: #e04a4a; 
}

.flag-media {
  color: #f7a500; 
}

.flag-baja {
  color: #a0acba; 
}