.chat-list-header {
  padding: 15px;
  border-bottom: 1px solid #eee;
}

.search-bar {
  position: relative;
}
.search-bar i {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: #aaa;
}
.search-bar input {
  width: 100%;
  padding: 10px 10px 10px 35px;
  border-radius: 8px;
  border: 1px solid #ddd;
  box-sizing: border-box;
  background-color: #fcfcf5;
}

.search-bar input:focus {
  outline: none; 
  border-color: #3240A5;
  box-shadow: 0 0 0 3px rgba(50, 64, 165, 0.2); 
}

.users-list {
  max-height: calc(90vh - 60px); 
  overflow-y: auto;
  padding: 10px 0;
}

.user-item {
  display: flex;
  align-items: center;
  padding: 15px;
  cursor: pointer;
  border-left: 5px solid transparent;
  transition: background-color 0.2s, border-left 0.2s;
  position: relative;
}

.user-item:hover:not(.selected) {
  background-color: #e2e2da;
}

.user-item.selected {
  background-color: #3240A5; 
  color: white;
  border-left-color: #3240A5;
}

.avatar-container {
  position: relative;
  margin-right: 15px;
  flex-shrink: 0;
}

.user-avatar {
  font-size: 2em; 
  color: #ccc;
  padding: 10px;
  border-radius: 50%;
  background-color: #eee;
}
.user-item.selected .user-avatar {
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
}

.status-indicator {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #008D36; 
  border: 2px solid white;
}

.status-indicator.offline {
  background-color: #aaa; 
}

.user-details {
  flex-grow: 1;
  min-width: 0; 
}

.user-name {
  font-weight: 600;
  font-size: 1.1em;
  margin-bottom: 3px;
}

.last-message-preview {
  font-size: 0.9em;
  color: #777;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.user-item.selected .last-message-preview {
  color: #eee;
}

.time-stamp {
  font-size: 0.8em;
  color: #aaa;
  margin-left: 10px;
  align-self: flex-start;
}
.user-item.selected .time-stamp {
  color: #ccc;
}