@if (showConfirmModal) {
  <div class="confirm-modal-backdrop" (click)="onCancelDelete()"></div>

  <div class="confirm-modal-content">
    <h4>Confirmación</h4>
    <p>{{ confirmMessage }}</p>
    <div class="modal-actions">
      <button class="btn btn-cancel" (click)="onCancelDelete()">
        Cancelar
      </button>
      <button class="btn btn-confirm" (click)="onConfirmDelete()">
        Aceptar
      </button>
    </div>
  </div>
}

<div class="inventory-container">

  <div class="header-controls">
    <h1>Inventario</h1>
    
    <div class="controls-right">
      <div class="search-bar">
        <i class="fa-solid fa-magnifying-glass"></i>
        <input type="text" placeholder="Buscar por nombre..." 
               [(ngModel)]="terminoBusqueda" (ngModelChange)="onBuscar()">
      </div>
      
      <button class="add-btn" (click)="onNuevoProductoClick()">
        <i class="fa-solid fa-plus"></i>
        <span>Nuevo Producto</span>
      </button>
    </div>
  </div>

  <div class="table-wrapper">
    <table class="product-table">
      <thead>
        <tr>
          <th>Id (Código)</th>
          <th>Nombre</th>
          <th>Marca</th>
          <th>Modelo</th>
          <th>Serial</th>
          <th>Sede</th>
          <th>Oficina</th>
          <th>Detalle</th>
          <th>Acciones</th> </tr>
      </thead>
      <tbody>
         @for (articulo of articulosPaginados; track articulo.id) {
          <tr>
            <td>{{ articulo.codigo }}</td>
            <td>{{ articulo.nombre }}</td>
            <td>{{ articulo.marca }}</td>
            <td>{{ articulo.modelo }}</td>
            <td>{{ articulo.serial }}</td>
            <td>{{ articulo.sede }}</td>
            <td>{{ articulo.oficina }}</td>
            <td>{{ articulo.detalle }}</td>
            <td>
              <button class="btn-icon btn-edit" [routerLink]="['/articles/edit', articulo.id]"><i class="fa-solid fa-pen"></i></button>
              <button class="btn-icon btn-delete" (click)="onDelete(articulo)"><i class="fa-solid fa-trash"></i></button>
            </td>
          </tr>
        } @empty {
          <tr>
            <td colspan="9" class="empty-cell">
              No se encontraron productos.
            </td>
          </tr>
        }
      </tbody>
    </table>
    <mat-paginator
    (page)="onPageChange($event)"
    [length]="articulosFiltrados.length"
    [pageSize]="pageSize"
    [pageSizeOptions]="pageSizeOptions"
    [pageIndex]="pageIndex"
    aria-label="Seleccionar página">
  </mat-paginator>
  </div>
</div>

