<main class="container">
  @if (mostrarModal) {
    <app-add-task-modal (tareaAgregada)="onAgregarTarea($event)" (cerrarModal)="mostrarModal = false"/>
  }

  <h1>Mi Tablero Kanban</h1>

  <div class="header-controls">
    
    <div class="search-bar">
      <i class="fa-solid fa-magnifying-glass"></i>
      
      <input type="text" placeholder="Buscar tareas.." [(ngModel)]="terminoBusqueda" (ngModelChange)="actualizarListas()"/>
    </div>

    <div class="button-group">
      
      <app-custom-dropdown label="Filtrar" [options]="categoriasParaFiltrar" [selectedValue]="filtroCategoria" (valueChange)="onFiltroChange($event)"></app-custom-dropdown>

      <button class="add-task-btn" (click)="mostrarModal = true">
        <i class="fa-solid fa-plus"></i>
        <span>Nueva Tarea</span>
      </button>
    </div>
  </div>

  @if (mostrarModal) {
    <app-add-task-modal (tareaAgregada)="onAgregarTarea($event)" (cerrarModal)="mostrarModal = false"/>
  }

  <div class="kanban-board" cdkDropListGroup>
    
    <app-kanban-column titulo="Por Hacer" [estado]="'por_hacer'" [tareas]="tareasPorHacer" (eliminarTarea)="onEliminarTarea($event)" (tareaDropped)="onTareaDropped($event)"></app-kanban-column>

    <app-kanban-column titulo="En Progreso" [estado]="'en_progreso'" [tareas]="tareasEnProgreso" (eliminarTarea)="onEliminarTarea($event)" (tareaDropped)="onTareaDropped($event)"></app-kanban-column>

    <app-kanban-column titulo="Completada" [estado]="'completada'" [tareas]="tareasHechas" (eliminarTarea)="onEliminarTarea($event)" (tareaDropped)="onTareaDropped($event)"></app-kanban-column>
    
  </div>

  @if (mostrarDetalleModal && tareaSeleccionadaParaDetalle) {
    <app-task-detail-modal  [tarea]="tareaSeleccionadaParaDetalle" (cerrarModal)="mostrarDetalleModal = false" (tareaActualizada)="actualizarListas()" ></app-task-detail-modal>
  }

</main>