:host {
  display: block;
  height: 100vh;
  width: 100vw;
  overflow: hidden; 
}

.app-layout {
  display: flex;
  height: 100%;
  width: 100%;
}

.main-content {
  flex-grow: 1; 
  height: 100%;
  overflow-y: auto; 
}




