:host {
  display: block;
  padding: 20px 40px;
  max-width: 1500px; 
  margin: 0 auto;
}

.form-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 50px; 
  border-bottom: 1px solid #ddd;
}
h1 {
  font-size: 40px;
  font-weight: 700;
  color: #1d1d1b;
  text-shadow: #383833 1px 1px 2px;
}

h3 {
  font-size: 20px;
  color: #1d1d1b;
  border-bottom: 1px solid #ddd;
  margin-bottom: 40px;
  margin-top: 15px;
  padding: 20px;
}

.return-btn {
  background: none;
  border: 1px solid rgba(165, 165, 165, 0.3);
  color: #888892;
  padding: 10px 16px;
  border-radius: 8px;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  transition: all 0.2s;
}
.return-btn:hover {
  background-color: rgba(173, 171, 171, 0.288);
  color: #6e6b6b;
}

.product-form {
  background-color: rgba(238, 238, 235, 0.897); 
  backdrop-filter: blur(10px); 
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.849);
  box-shadow: 0 5px 10px rgba(112, 109, 109, 0.3);
  position: relative;
  z-index: 2001;
  overflow-y: auto;

  border-radius: 8px;
  padding: 30px;
  max-width: 1000px;
  margin: 0 auto;
}

.form-row {
  display: flex;
  gap: 25px;
  margin-bottom: 20px;
}

.input-group {
  flex: 1; 
}

.input-group label {
  display: block;
  margin-bottom: 8px;
  font-weight: 500;
  color: #7e7a7a;
}

.input-group input {
  width: 100%;
  padding: 12px 15px;
  border-radius: 8px;
  border: 2px solid #ffffff;
  font-size: 15px;
  background-color: #ddd;
  color: #333; 
  box-sizing: border-box; 
}

.input-group input:focus {
  outline: none;
  border-color: #3240A5;
  box-shadow: 0 0 0 3px rgba(50, 64, 165, 0.3);
}

.form-buttons {
  display: flex;
  justify-content: flex-end; 
  margin-top: 30px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding-top: 25px;
}

.save-btn {
  background-color: #3240A5; 
  color: white;
  padding: 12px 25px;
  border: none;
  border-radius: 8px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s;
}
.save-btn:hover {
  background-color: #2c389c; 
}
.save-btn:disabled {
  background-color: #afafaf;
  color: #dbd9d9;
  cursor: not-allowed;
}