<nav class="sidebar" [class.collapsed]="isCollapsed">
  
  <div class="sidebar-header">
    <a routerLink="/board" class="logo">
      <i class="fa-solid fa-bolt"> </i> @if (!isCollapsed) { <span>Evolution</span>}
    </a>
  </div>

    <ul class="nav-links">

        <li>
        <a routerLink="/p" routerLinkActive="active">
            <i class="fa-solid fa-home"></i>
            @if (!isCollapsed) { <span>inicio</span> }
        </a>
        </li>

        <li>
        <a routerLink="/board" routerLinkActive="active">
            <i class="fa-solid fa-table-columns"></i>
            @if (!isCollapsed) { <span>Tablero</span> }
        </a>
        </li>

        <li>
        <a routerLink="/chat" routerLinkActive="active">
            <i class="fa-solid fa-comments"></i>
            @if (!isCollapsed) { <span>Chat</span> }
        </a>
        </li>

        <li>
        <a routerLink="/articles" routerLinkActive="active">
            <i class="fa-solid fa-box"></i>
            @if (!isCollapsed) { <span>Inventario</span> }
        </a>
        </li>

        <li>
        <a routerLink="/transcriptor" routerLinkActive="active">
          <i class="fa-solid fa-microphone-lines"></i>
          <span>Transcriptor</span>
        </a>
        </li>
    </ul>

  <div class="sidebar-footer">
    <a routerLink="/profile" routerLinkActive="active" class="profile-btn">
      <i class="fa-solid fa-user"></i>
      @if (!isCollapsed) { <span>Perfil</span>}
    </a>
    <button class="logout-btn" (click)="onLogout()">
      <i class="fa-solid fa-right-from-bracket"></i>
      @if (!isCollapsed) { <span>Cerrar Sesión</span> }
    </button>
  </div>
    <div class="sidebar-toggle-section">
      <button class="toggle-btn" (click)="onToggleSidebar()" [title]="isCollapsed ? 'Expandir' : 'Colapsar'">
        <i class="fa-solid" [ngClass]="{'fa-chevron-left': !isCollapsed, 'fa-chevron-right': isCollapsed}"></i>
      </button>
  </div>
</nav>
