@keyframes animarGradiente {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

body {
  background: #3240A5;
  background: linear-gradient(211deg,rgba(50, 64, 165, 0.90) 33%, rgba(0, 141, 54, 0.90) 90%);
  background-size: 300% 300%;
  animation: animarGradiente 10s ease infinite;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


